footer{
    width: 100%;
    height: 80px;
    background: url(../images/footer.jpg) center center;
    background-size: cover;
    padding: 20px;
    color: black;
    flex:0 0 auto;
}

.copyright{
    
    float: right;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.3em;
    
}