.section5{
    display: flex;
    flex-direction: column;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #406cd0;    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color:  #E44424;
}

.form-div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.load-members{
    width: 20%;
    background-color: #406cd0;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;   
}

.load-members:hover {
    background-color:  #E44424;
}