#formLogin{
    display: none;
    margin-top: 15px;
}


.section5{
    display: flex;
    flex-direction: column;
}
input[type=text], select {


    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #406cd0;    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color:  #E44424;
}

.form-login {
    width: 90%;
    border-radius: 5px;
    background-color: #8b8f88;
    padding: 20px;
}


.one, .two{
    width: 45%;
}

.one{
    float: left;
}

.two{
    float: right;
}

.load-members{
    width: 20%;
    background-color: #406cd0;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;   
}

.load-members:hover {
    background-color:  #E44424;
}

.bookPic, .myBookIsbn{
    display: block;
    width: 100%;
    float: left;
}

.myBookIsbn{
    margin-top: 15px;
    padding-bottom: 20px;
}

.second{
    margin-top: 30px;
    background: #DDDBDB;
}
.button{
    width: 130px;
    height:55px;
    background: #D7D6CC;
    border-radius: 8px;
    margin-left: 370px;
    margin-top: 10px;
}

.first{
    background: #DDDBDB;
    margin-top: 15px;
}


#bookDescript{
    background: #EFEFEF;
    margin-top: 20px;
}
