
header{
    width: auto;
    height: 150px;
    background: url(../images/header.jpg) center center;
    background-size: cover;
    padding: 20px;
    color: black;}

.h1_header{
    font-family: 'Fira Sans', sans-serif;
    text-align: right;
    vertical-align: bottom;
}