

#loader_table{
/*     font: 20px; */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    border: 1px;
    border-color:#C0C0C0;

}
td:first-child{
    width: 200px;
}

td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold; 
}

th{
   /* background-color: #73847A; */
   background:url(../images/bg6.png);
   font-size: 18px;
   color:#565252;
   text-transform: lowercase;
}
td{
    background-color: #DAEAE1;
    font-size: 20px;
    color:#736B73;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fa-fw{
    vertical-align: middle;
}

#spinner{
    display: none;
}

