
.page-layout{
    display:flex;
    flex-direction: column;
    /*height: calc(100vh - 20px);*/
    height: 100%;

}

.page-content{
    display:flex;
    flex-direction: column;
    /*height: calc(100vh - 20px);*/
    height: 100%;

}

header{
    background: #666;
    color: white;
}



.wrapper{
    display: flex;
    flex-grow: 1;
}

nav{
    background: #999;
    display: flex;
    flex-direction: column;
    width: 180px;
}

main{
     flex-grow: 1;
}

@media (max-width: 700px){
    .wrapper{
        flex-direction: column;
    }

    nav{
        width: auto;
    }

    .logo-img{
        width: 20%;
        top: 20px !important;

    }
}