body {
    margin: 0;
}
main {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    font: 1em/1.3em 'Fira Sans', sans-serif;;
    display: flex;
}


